<!-- user thumbnail div -->
<div class="user-profile-thumbnail user-thumbnail">
  <div class="user-thumb">
    <%=image_tag 'medium_default.gif', :alt => "#{user}'s photo", :width => 82, :height => 82%>
  </div>
  <div class="user-container">
    <div class="username">
      <h2><%=link_to user, user_path(user)%></h2>
    </div>  
    <div class="user-content">
      <p><%=user%></p>
    </div> 
    <div class="user_links">
      <div class="ulink rss disabled">
        <%=link_to '', :title=> "Follow RSS Feed"%>
      </div>
      <div class="ulink homepage disabled">
        <%=link_to '', :title=> "Visit website"%>
      </div>
    </div>    
  </div>
</div>

<%unless @iphoto%>
  <!-- User stats -->
  <div class="user-stats">
    <div class="stat-stack">
      <div class="stack-number">
        <p>0</p>
      </div>
      <div class="stack-cat">
        <p>comments</p>
      </div>
    </div>
    <div class="stat-stack">
      <div class="stack-number">
        <p>0</p>
      </div>
      <div class="stack-cat">
        <p>likes</p>
      </div>
    </div>
    <div class="stat-stack">
      <div class="stack-number">
        <p><%=Iphoto.by_username(user).listed.count%></p>
      </div>
      <div class="stack-cat">
        <p>photos</p>
      </div>
    </div>
  </div>
<%end%>