<!-- user thumbnail div -->
<div class="user-profile-thumbnail user-thumbnail">
  <div class="user-thumb">
    <%=image_tag user.image_url(:thumb), :alt => "#{user.name}'s photo", :width => 82, :height => 82%>
  </div>
  <div class="user-container">
    <div class="username">
      <h2><%=link_to user.name, user_path(user.name)%></h2>
    </div>  
    <div class="user-content">
      <p><%=user.full_name || user.name%></p>
    </div>  
    <div class="user_links">
      <div class="ulink rss">
        <%=link_to '', :title=> "Follow RSS Feed"%>
      </div>
      <div class="ulink homepage">
        <%=link_to '', :title=> "Visit website"%>
      </div>
    </div>
  </div>
</div>