<%=render :partial => 'users/profile', :locals => {:user => user}%>
<%unless @iphoto%>
  <!-- User stats -->
  <div class="user-stats">
    <div class="stat-stack">
      <div class="stack-number">
        <p><%=link_to user.comments.where('partner_id = ?', partner.id).count, "/users/#{user.id}/photos/commented"%></p>
      </div>
      <div class="stack-cat">
        <p>comments</p>
      </div>
    </div>
    <div class="stat-stack">
      <div class="stack-number">
        <p><%=link_to user.favorites.where('partner_id = ?', partner.id).count, "/users/#{user.id}/photos/likes"%></p>
      </div>
      <div class="stack-cat">
        <p>likes</p>
      </div>
    </div>
    <div class="stat-stack">
      <div class="stack-number">
        <p><%=link_to Iphoto.by_username(user.name).where('partner_id = ?', partner.id).listed.count, user_path(user)%></p>
      </div>
      <div class="stack-cat">
        <p>photos</p>
      </div>
    </div>
  </div>
<%end%>

<%unless user.bio.blank?%>
  <div class="user_overview">
    <div class="title">Overview</div>
    <div><%=user.bio%></div>
    <div class="website"><%=link_to user.website, user.website, :target => '_blank'%></div>
  </div>
<%end%>