<!-- Left side user profile div -->
<div class="user-lside">
  <%=render :partial => guest_or_user_template(@user), :locals => {:user => @user}%>
  <%=render 'destroy'%>
  <!-- Rectangle -->  
  <div class="user-square">    
    <%#=image_tag(@ad[0], :alt => @ad[1])%>  
    <script type="text/javascript"><!--
    google_ad_client = "ca-pub-8647050956160590";
    /* CAKESTA - User Square */
    google_ad_slot = "4242640399";
    google_ad_width = 250;
    google_ad_height = 250;
    //-->
    </script>
    <script type="text/javascript"
    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
  </div>
</div>

<!-- Right side user profile -->
<div class="user-rside">
  <div class="userpic-container" style="overflow:hidden;">
    <%@iphotos.each do |iphoto|%>  
      <div class="user_photo_thumb" id="photo_<%=iphoto.id%>">
        <%=render :partial => 'iphotos/iphoto', :locals => {:iphoto => iphoto}%>
      </div>
    <%end%>
  </div>

  <div style='clear:both;'><%=will_paginate(@iphotos)%></div>
  
  <div class="pagination">
  </div>
</div>