<!-- Left side user profile div -->
<div class="user-lside">
  <%=render :partial => guest_or_user_template(@user), :locals => {:user => @user}%>
  <%=render 'destroy'%>
  <!-- Rectangle -->  
  <div class="user-square">
    <%=image_tag(@ad[0], :alt => @ad[1])%>
  </div>
</div>

<!-- Right side user profile -->
<div class="user-rside">
  <div class="userpic-container" style="overflow:hidden;">
    <%@iphotos.each do |iphoto|%>  
      <div class="user_photo_thumb" id="photo_<%=iphoto.id%>">
        <%=render :partial => 'iphotos/iphoto', :locals => {:iphoto => iphoto}%>
      </div>
    <%end%>
  </div>

  <div style='clear:both;'><%=will_paginate(@iphotos)%></div>
  
  <div class="pagination">
  </div>
</div>