<%= tinymce_assets %>
<%if current_user %>
  <!-- Leave a comment section - Logged in  -->
  <%=form_tag add_comment_path(@iphoto), :id => "add_comment", 'data-remote' => true do %>
    <div class="leavecomment">
      <div class="leave-title">
        <h2>Leave a comment</h2>
      </div>
      <div class="text-area">
        <%= text_area_tag :comment, "", :class => "tinymce textbox", :id => 'text-input-area' %>
        <%= tinymce %>
      </div>
      <div class="submit-button">
        <%=submit_tag 'POST COMMENT', :class => 'comment-button-style'%>
      </div>
    </div>
  <%end%>  
<%else%> 
  <div class="leavecomment">
    <div class="submit-button"><%=link_to 'LOG IN TO POST COMMENT', login_url, :class => 'comment-button-style'%></div>
  </div>
<%end%>