<!-- START OF ACTUAL COMMENT -->
<div class="acomment" id="comment_<%=comment.id%>">
  <div class="user-thumb">
    <%=image_tag comment.user.image_url(:thumb), :alt => "#{comment.user.name}'s thumb"%>
  </div>
  <div class="comment-container">
    <div class="comment-username">
      <h2><%=link_to comment.user.name, user_url(comment.user)%></h2>
    </div>
    <div class="comment-body">
      <%=comment.body%>
    </div>
    <div class="comment-date">
      <p><%="#{time_ago_in_words(comment.created_at)} ago"%></p>
    </div>
    <%if current_user and current_user.name == @iphoto.username%>
      <div class="delete-comment">
        <%=remove_comment(@iphoto, comment)%>
      </div>
    <%end%>
  </div>
</div>