<!-- Div for title of photos -->
<div class="photo_line_title">
  <h1>What's Hot</h1>
</div>
<div class="photo_line">
  <%@hottest.each_with_index do |iphoto, i|%>
    <!-- Individual photo div -->
    <div class="photoHolder photo_thumb photo_<%=iphoto.id%>">
      <%=render :partial => 'iphoto', :locals => {:iphoto => iphoto}%>
    </div>
<!--     <%#- if (i+1)%3 == 0%>
      <div class="clear"></div>
    <%#end%> -->     
  <%end%>
</div>

<div class="more">
  <%=link_to "More What's Hot →",  "/#{Thread.current[:site_configuration]['app_name']}/hot"%>
</div>
<div class="ad">
  <%=render :partial => 'shared/ads', :locals => {:ad => :whats_hot_section}%>
</div>

<!-- Div for title of photos -->
<div class="photo_line_title">
  <h1>Most Popular</h1>
</div>
<div class="photo_line">
  <%@popular.each_with_index do |iphoto, i|%>
    <!-- Individual photo div -->
    <div class="photoHolder photo_thumb photo_<%=iphoto.id%>">
      <%=render :partial => 'iphoto', :locals => {:iphoto => iphoto}%>
    </div>
<!--     <%#- if (i+1)%3 == 0%>
      <div class="clear"></div>
    <%#end%> -->      
  <%end%>
</div>

<div class="more">
  <%=link_to "More Most Popular →",  "/#{Thread.current[:site_configuration]['app_name']}/most_popular"%>
</div>
<div class="ad">
  <%=render :partial => 'shared/ads', :locals => {:ad => :popular_section}%>
</div>

<!-- Div for title of photos -->
<div class="photo_line_title">
  <h1>Newest</h1>
</div>
<div class="photo_line">
  <%@newest.each_with_index do |iphoto, i|%>
    <!-- Individual photo div -->
    <div class="photoHolder photo_thumb photo_<%=iphoto.id%>">
      <%=render :partial => 'iphoto', :locals => {:iphoto => iphoto}%>
    </div>
<!--     <%#- if (i+1)%3 == 0%>
      <div class="clear"></div>
    <%#end%>  -->   
  <%end%>
</div>
<div class="more">
  <%=link_to "More Newest →", "/#{Thread.current[:site_configuration]['app_name']}/newest"%>
</div>