<!-- Div for title of photos -->
<div class="photo_line_title">
  <h1>What's Hot</h1>
</div>
<div class="photo_line">
  <%@hottest.each_with_index do |iphoto, i|%>
    <!-- Individual photo div -->
    <div class="photo_thumb photo_<%=iphoto.id%>">
      <%=render :partial => 'iphoto', :locals => {:iphoto => iphoto}%>
    </div>
    <%- if i%3 == 0%>
      <div class="clear"></div>
    <%end%>     
  <%end%>
</div>

<%=listing_ad('whats_hot')%>

<!-- Div for title of photos -->
<div class="photo_line_title">
  <h1>Most Popular</h1>
</div>
<div class="photo_line">
  <%@popular.each_with_index do |iphoto, i|%>
    <!-- Individual photo div -->
    <div class="photo_thumb photo_<%=iphoto.id%>">
      <%=render :partial => 'iphoto', :locals => {:iphoto => iphoto}%>
    </div>
    <%- if i%3 == 0%>
      <div class="clear"></div>
    <%end%>      
  <%end%>
</div>

<%=listing_ad('popular')%>

<!-- Div for title of photos -->
<div class="photo_line_title">
  <h1>Newest</h1>
</div>
<div class="photo_line">
  <%@newest.each_with_index do |iphoto, i|%>
    <!-- Individual photo div -->
    <div class="photo_thumb photo_<%=iphoto.id%>">
      <%=render :partial => 'iphoto', :locals => {:iphoto => iphoto}%>
    </div>
    <%- if i%3 == 0%>
      <div class="clear"></div>
    <%end%>    
  <%end%>
</div>