<!-- Div for title of photos -->
<div class="photo_line_title">
  <h1>What's Hot</h1>
</div>
<div class="photo_line">
  <%@hottest.each_with_index do |iphoto, i|%>
    <!-- Individual photo div -->
    <div class="photoHolder photo_thumb photo_<%=iphoto.id%>">
      <%=render :partial => 'iphoto', :locals => {:iphoto => iphoto}%>
    </div>
<!--     <%#- if (i+1)%3 == 0%>
      <div class="clear"></div>
    <%#end%> -->     
  <%end%>
</div>

<div class="more">
  <%=link_to "More What's Hot →",  '/cakesta/hot'%>
</div>
<div class="ad">
  <%#=listing_ad('whats_hot')%>
  <script type="text/javascript"><!--
  google_ad_client = "ca-pub-8647050956160590";
  /* CAKESTA - Category 1 Leaderboard */
  google_ad_slot = "4547557769";
  google_ad_width = 728;
  google_ad_height = 90;
  //-->
  </script>
  <script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
  </script>  
</div>

<!-- Div for title of photos -->
<div class="photo_line_title">
  <h1>Most Popular</h1>
</div>
<div class="photo_line">
  <%@popular.each_with_index do |iphoto, i|%>
    <!-- Individual photo div -->
    <div class="photoHolder photo_thumb photo_<%=iphoto.id%>">
      <%=render :partial => 'iphoto', :locals => {:iphoto => iphoto}%>
    </div>
<!--     <%#- if (i+1)%3 == 0%>
      <div class="clear"></div>
    <%#end%> -->      
  <%end%>
</div>

<div class="more">
  <%=link_to "More Most Popular →",  '/cakesta/most_popular'%>
</div>
<div class="ad">
  <%#=listing_ad('popular')%>
  <script type="text/javascript"><!--
  google_ad_client = "ca-pub-8647050956160590";
  /* CAKESTA - Category 2 Leaderboard */
  google_ad_slot = "7881776051";
  google_ad_width = 728;
  google_ad_height = 90;
  //-->
  </script>
  <script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
  </script>
</div>

<!-- Div for title of photos -->
<div class="photo_line_title">
  <h1>Newest</h1>
</div>
<div class="photo_line">
  <%@newest.each_with_index do |iphoto, i|%>
    <!-- Individual photo div -->
    <div class="photoHolder photo_thumb photo_<%=iphoto.id%>">
      <%=render :partial => 'iphoto', :locals => {:iphoto => iphoto}%>
    </div>
<!--     <%#- if (i+1)%3 == 0%>
      <div class="clear"></div>
    <%#end%>  -->   
  <%end%>
</div>
<div class="more">
  <%=link_to "More Newest →", '/cakesta/newest'%>
</div>