<%-if @category%>
  <%if @category == "most_popular"%>
    <div class="photo_line_title_pop">
      <h1><%= AppConfiguration[@category] %></h1>
    </div>
    <div class="sub-nav">
      <p>
        <a href="/cakesta/most_popular/all"><span class="<%=@sort == 'all' ? 'active' : ''%>">All Time</span></a> | 
        <a href="/cakesta/most_popular/month"><span class="<%=@sort == 'month' ? 'active' : ''%>">This Month</span></a> | 
        <a href="/cakesta/most_popular/week"><span class="<%=@sort == 'week' ? 'active' : ''%>">This Week</span></a> | 
        <a href="/cakesta/most_popular/today"><span class="<%=@sort == 'today' ? 'active' : ''%>">Today</span></a>
      </p>
    </div>
  <%else%>
    <div class="photo_line_title">
      <h1><%= AppConfiguration[@category] %></h1>
    </div>
  <%end%>
  <div class="photo_line">
    <%@iphotos.each_with_index do |iphoto, i|%>
      <!-- Individual photo div -->
      <div class="photoHolder photo_thumb photo_<%=iphoto.id%>">
        <%=render :partial => 'iphoto', :locals => {:iphoto => iphoto}%>
      </div>
<!--       <%#- if (i+1)%3 == 0%>
        <div class="clear"></div>
      <%#end%> -->
      <%- if i == 8%>
        <div class="clear"></div>
        <div class="ad">
          <%#=listing_ad('whats_hot')%>
          <script type="text/javascript"><!--
          google_ad_client = "ca-pub-8647050956160590";
          /* CAKESTA - Category 1 Leaderboard */
          google_ad_slot = "4547557769";
          google_ad_width = 728;
          google_ad_height = 90;
          //-->
          </script>
          <script type="text/javascript"
          src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
          </script>
        </div>
      <%end%>  
      <%- if i == 14%>
        <div class="clear"></div>
        <div class="ad">
          <%#=listing_ad('popular')%>
          <script type="text/javascript"><!--
          google_ad_client = "ca-pub-8647050956160590";
          /* CAKESTA - Category 2 Leaderboard */
          google_ad_slot = "7881776051";
          google_ad_width = 728;
          google_ad_height = 90;
          //-->
          </script>
          <script type="text/javascript"
          src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
          </script>
        </div>
      <%end%>
    <%end%>
  </div>
  <%=will_paginate(@iphotos)%>
<%else%>
  <%=render 'recent'%>
<%end%>