<!-- Div for title of photos -->
<div class="photo_line_title">
  <h1><%= @title %></h1>
</div>
<div class="photo_line">
  <%@iphotos.each_with_index do |iphoto, i|%>
    <!-- Individual photo div -->
    <div class="photo_thumb photo_<%=iphoto.id%>">
      <%=render :partial => 'iphoto', :locals => {:iphoto => iphoto}%>
    </div>
    <%- if i%3 == 0%>
      <div class="clear"></div>
    <%end%>
    <%- if i == 8%>
      <%=listing_ad('whats_hot')%>
    <%end%>  
    <%- if i == 14%>
      <%=listing_ad('popular')%>
    <%end%>
  <%end%>
</div>
<%=will_paginate(@iphotos)%>
