<div class="single_line_title">
  <h1>
    <%=link_to "#{@iphoto.username}'s", user_path(@iphoto.username)%> photo
  </h1>
</div>

<!-- left side of single image page -->

<div class="l-side-single">
  <!-- large image div -->
  <div class="large-image">
    <%= image_tag @iphoto.url, :alt => "#{@iphoto.username}'s photo", :width=> 518 %>
    <!-- image sharing -->      
    <div id="i_social">
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="tatstagram" data-count="none">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      <a href="http://pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.tatstagram.com&media=http%3A%2F%2Fwww.tatstagram.com%2F%23" class="pin-it-button" count-layout="none"><img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" /></a>
      <g:plusone size="medium" annotation="none"></g:plusone>
      <div class="fb-like" data-href="http://www.tatstagram.com/#" data-send="false" data-layout="button_count" data-width="150" data-show-faces="false" data-font="arial"></div>
    </div> 
    <!-- Like image -->
    <div class="imagelike">
      <%=heart_link(@iphoto, current_user, :large)%>
    </div>
  </div>
  <!-- banner -->
  <div class="single-banner">
    <%=image_tag @ads['left_section'][0], :alt => @ads['left_section'][1]%>
  </div>

  <!-- Comments section -->
  <div class="comments">
    <div class="comments-header">
      <div class="number-comments">
        <h2><%=@iphoto.comment_threads.count%> Comments</h2>
      </div>
      <div class="leave-comment-top">
        <a href="#add_comment"><p>leave a comment</p></a>
      </div>  
    </div>
    <%@iphoto.comment_threads.each do |comment|%>
      <%=render :partial => 'comment', :locals => {:comment => comment}%>
    <%end%> 
    <%=render 'comment_form'%>
  </div>
</div>

<!-- right side of single image page -->

<div class="r-side-single">

  <!-- user thumbnail div -->
  <%=render :partial => user_profile_link(@iphoto.user), :locals => {:user => (@iphoto.user ? @iphoto.user : @iphoto.username)}%>

  <!-- stats div -->
  <div class="image-stats">
    <div class="stat">
      <%=image_tag 'single-heart.gif', :class => 'imgmiddle'%>
      <span class="vert-header"><%=@iphoto.fans.count%> likes</span>
    </div>
    <div class="stat">
      <%=image_tag 'single-comment.gif', :class => 'imgmiddle'%>
      <span class="vert-header"><%=@iphoto.comment_threads.count%> comments</span>
    </div>  
    <div class="stat">
      <%=image_tag 'single-twitter.gif', :class => 'imgmiddle'%>
      <span class="vert-header">Tweet this</span> </a>
    </div>
    <div class="stat">
      <%=image_tag 'single-facebook.gif', :class => 'imgmiddle'%>
      <span class="vert-header">Share on Facebook</span> </a>
    </div>
    <div class="stat">
      <%=image_tag 'single-link.gif', :class => 'imgmiddle'%>
      <span class="vert-header"><%= link_to AppConfiguration['host'] + "/#{@iphoto.public_id}", AppConfiguration['host'] + "/#{@iphoto.public_id}"%></span> </a>
    </div>
    <div class="stat">
      <%=image_tag 'single-report.gif', :class => 'imgmiddle'%>
      <span class="vert-header">Report Photo</span> </a>
    </div>
    <%if current_user.name == @iphoto.username%>
      <div class="stat">
        <%=link_to image_tag('single-delete.gif', :class => 'imgmiddle'), iphoto_url(@iphoto), :method => :delete %>
        <span class="vert-header">Delete Photo</span> </a>
      </div>
    <%end%>
  </div> 
  <!-- more from user -->
  <div class="more-from-user">
    <div class="more-user-title">
      <h2>More from this user</h2>
    </div>
    <%@recent_photos.each do |pic|%>
      <div class="more-thumb">
        <%=link_to image_tag(pic.url, :width => 110, :height => 110), iphoto_url(pic)%>
      </div>
    <%end%>
  </div>
  <!-- 336x280 -->
  <div class="large-rec">
    <%=image_tag @ads['right_section'][0], :alt => @ads['right_section'][1], :width=>"343", :height=>"287"%>
  </div>
</div>
