<div class="single_line_title">
  <h1>
    <%=link_to "#{@iphoto.username}'s", user_path(@iphoto.username)%> photo
  </h1>
</div>

<!-- left side of single image page -->

<div class="l-side-single">
  <!-- large image div -->
  <div class="large-image">
    <%= image_tag @iphoto.url, :alt => "#{@iphoto.username}'s photo", :width=> 518 %>
    <!-- image sharing -->      
    <div id="i_social">
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="cakesta" data-count="none">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      <a href="http://pinterest.com/pin/create/button/?url=<%=url_for(@iphoto.share_link)%>&media=<%=url_for(@iphoto.url)%>&description=Cakesta" class="pin-it-button" count-layout="none"><img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" /></a>
      <g:plusone size="medium" annotation="none"></g:plusone>
      <div class="fb-like" data-href="<%#=url_for('http://www.facebook.com/sharer.php?u=' + @iphoto.share_link + '&amp;t=CakestaSharing')%>" data-send="false" data-layout="button_count" data-width="150" data-show-faces="false" data-font="arial" data-rel="<%=@iphoto.url%>"></div>

<!--       <span class='st_pinterest_hcount' displayText='Pinterest' st_url="<%=url_for(@iphoto.share_link)%>" st_image="<%=url_for(@iphoto.url)%>"></span>
      <span class='st_twitter_hcount' displayText='Tweet' st_url="<%=url_for(@iphoto.share_link)%>" st_image="<%=url_for(@iphoto.url)%>"></span>
      <span class='st_googleplus_hcount' displayText='Google +' st_url="<%=url_for(@iphoto.share_link)%>" st_image="<%=url_for(@iphoto.url)%>"></span>
      <span class='st_fblike_hcount' displayText='Facebook Like' st_url="<%=url_for(@iphoto.share_link)%>" st_image="<%=url_for(@iphoto.url)%>"></span> -->
      <!-- <span class='st_fbsend_hcount' displayText='Facebook Send'></span> -->
    </div> 
    <!-- Like image -->
    <div class="imagelike">
      <%=heart_link(@iphoto, current_user, :large)%>
    </div>
  </div>
  <!-- banner -->
  <div class="single-banner">
    <script type="text/javascript"><!--
    google_ad_client = "ca-pub-8647050956160590";
    /* CAKESTA - Single Image Banner */
    google_ad_slot = "5203727866";
    google_ad_width = 468;
    google_ad_height = 60;
    //-->
    </script>
    <script type="text/javascript"
    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
    <%#=image_tag @ads['left_section'][0], :alt => @ads['left_section'][1]%>
  </div>

  <!-- Comments section -->
  <div class="comments" id="all_comments">
    <div class="comments-header">
      <div class="number-comments">
        <h2><%=@iphoto.comment_threads.count%> Comments</h2>
      </div>
      <div class="leave-comment-top">
        <a href="#add_comment"><p>leave a comment</p></a>
      </div>  
    </div>
    <div id="comment_list">
      <%@iphoto.comment_threads.each do |comment|%>
        <%=render :partial => 'comment', :locals => {:comment => comment}%>
      <%end%> 
    </div>
    <%=render 'comment_form'%>
  </div>
</div>

<!-- right side of single image page -->

<div class="r-side-single">

  <!-- user thumbnail div -->
  <%=render :partial => user_profile_link(@iphoto.user), :locals => {:user => (@iphoto.user ? @iphoto.user : @iphoto.username)}%>

  <!-- stats div -->
  <div class="image-stats">
    <div class="stat">
      <%=image_tag 'single-heart.gif', :class => 'imgmiddle'%>
      <span class="vert-header"><%=@iphoto.fans.count%> likes</span>
    </div>
    <div class="stat">
      <%=image_tag 'single-comment.gif', :class => 'imgmiddle'%>
      <span class="vert-header"><%=@iphoto.comment_threads.count%> comments</span>
    </div>  
    <div class="stat" id="custom-tweet-button">
      <a class="imgmiddle meta-act-link meta-tweet" href="http://twitter.com/intent/tweet?text=<%= url_for(@iphoto.share_link) %>">  
        <%=image_tag 'single-twitter.gif', :class => 'imgmiddle'%>       
        <span class="vert-header">Tweet this</span>
      </a>
    </div>
    <div class="stat">
      <%
        fb_share_link = url_for('http://www.facebook.com/sharer.php?u=' + @iphoto.share_link + '&amp;t=CakestaSharing')
      %>
      <a onclick="window.open('<%=fb_share_link%>','linkname','height=320, width=600,scrollbars=no')" href="javascript:void(0)">
        <%=image_tag 'single-facebook.gif', :class => 'imgmiddle'%>
        <span class="vert-header">Share on Facebook</span>
      </a>
    </div>
    <div class="stat">
      <%=image_tag 'single-link.gif', :class => 'imgmiddle'%>
      <span class="vert-header">
        <%=text_field_tag :public_link, @iphoto.share_link, :class => "displayLink"%>
      </span>
    </div>
    <div class="stat">
      <a href="/report" class='fancybox'><%=image_tag 'single-report.gif', :class => 'imgmiddle'%>
      <span class="vert-header">Report Photo</span></a>
    </div>
    <%if logged_in? and (current_user.is_admin? || current_user.name == @iphoto.username)%>
      <div class="stat">
        <%=link_to image_tag('single-delete.gif', :class => 'imgmiddle') + content_tag(:span, 'Delete Photo', :class=>"vert-header"), iphoto_url(@iphoto), :method => :delete, :confirm => "Are you sure? This action cannot be undone!" %>
      </div>
    <%end%>
  </div> 
  <!-- more from user -->
  <div class="more-from-user">
    <div class="more-user-title">
      <h2>More from this user</h2>
    </div>
    <%@recent_photos.each do |pic|%>
      <div class="more-thumb">
        <%=link_to image_tag(pic.url, :width => 110, :height => 110, :alt => '', :class => 'iImg'), iphoto_url(pic)%>
      </div>
    <%end%>
  </div>
  <!-- 336x280 -->
  <div class="large-rec">
    <script type="text/javascript"><!--
    google_ad_client = "ca-pub-8647050956160590";
    /* CAKESTA - Single Rectangle */
    google_ad_slot = "9727108864";
    google_ad_width = 336;
    google_ad_height = 280;
    //-->
    </script>
    <script type="text/javascript"
    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
    <%#=image_tag @ads['right_section'][0], :alt => @ads['right_section'][1], :width=>"343", :height=>"287"%>
  </div>
</div>
