<!-- Header Wrapper -->
<div id="header_wrapper">
	<!-- Header -->
	<div id="header">
		<!-- Logo div -->
		<div id="h_logo">
		  <%= link_to image_tag("logo.png", :alt => "Cakesta - Share your Instagram photos"), root_url%>
		</div>

		<!-- Header banner ad div -->
		<div id="h_banner">
      <%#=header_ad%>
      <script type="text/javascript"><!--
      google_ad_client = "ca-pub-8647050956160590";
      /* CAKESTA - Header banner */
      google_ad_slot = "8970815324";
      google_ad_width = 468;
      google_ad_height = 60;
      //-->
      </script>
      <script type="text/javascript"
      src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
      </script>
		</div>   

    <%- if logged_in? %>
      <div id="logged_in">
        <div class="loggedin-user-thumb">
          <%=image_tag current_user.image_url, :alt => current_user.name, :width=>"45", :height=>"45"%>
        </div>
        <div class="loggedin-username">  
          <a href="#"> <p><%=current_user.name%></p> </a>  
          <p class="user-control"><%=link_to "sign out", signout_path%> | <%=link_to 'view profile', user_path(current_user)%></p>
        </div>
      </div>
    <%else%>
      <div id="h_signin">
        <%= link_to '', new_auth_path, :class => 'sign_in_btn'%>
        <span class="register">or <%=link_to "register", 'http://help.instagram.com/customer/portal/articles/95719', :target => '_blank'%> for an account</span>
      </div>
    <%end%>

	<!-- Close header div -->
	</div>	
<!-- Close Header Wrapper Div -->
</div>