<!-- Header Wrapper -->
<div id="header_wrapper">
	<!-- Header -->
	<div id="header">
		<!-- Logo div -->
		<div id="h_logo">
		  <%= link_to image_tag("#{Thread.current[:site_configuration]['app_name']}.png", :alt => "#{Thread.current[:site_configuration]['app_name']} - Share your Instagram photos"), root_url%>
		</div>

		<!-- Header banner ad div -->
		<div id="h_banner">
      <%=render :partial => 'shared/ads', :locals => {:ad => :header}%>
		</div>   

    <%- if logged_in? %>
      <div id="logged_in">
        <div class="loggedin-user-thumb">
          <%=image_tag current_user.image_url, :alt => current_user.name, :width=>"45", :height=>"45"%>
        </div>
        <div class="loggedin-username">  
          <a href="#"> <p><%=current_user.name%></p> </a>  
          <p class="user-control"><%=link_to "sign out", signout_path%> | <%=link_to 'view profile', user_path(current_user)%></p>
        </div>
      </div>
    <%else%>
      <div id="h_signin">
        <%= link_to '', new_auth_path, :class => 'sign_in_btn'%>
        <span class="register">or <%=link_to "register", 'http://help.instagram.com/customer/portal/articles/95719', :target => '_blank'%> for an account</span>
      </div>
    <%end%>

	<!-- Close header div -->
	</div>	
<!-- Close Header Wrapper Div -->
</div>