<!-- Social Menu Container -->
<div id="social-nav">
  <!-- Social Follows -->
  <div class="social-follow">
    <div class="social-title">
      <p style="text-transform:uppercase;">FOLLOW <%=Thread.current[:site_configuration]['app_name']%></p>
    </div>
    <div class="social-follow-holder">
      <div class="follow-button1">
        <a href="https://twitter.com/<%=Thread.current[:site_configuration]['social']['tw']%>"  target='_blank'>
        </a>
      </div>
      
      <div class="vr">
        <%=image_tag 'vr.gif', :alt=>"vr", :width=>"2", :height=>"24"%>
      </div>
      
      <div class="follow-button2">
        <a href="https://www.facebook.com/<%=Thread.current[:site_configuration]['social']['fb']%>" target='_blank'> 
        </a>
      </div>
      
      <div class="vr">
        <%=image_tag 'vr.gif', :alt=>"vr", :width=>"2", :height=>"24"%>
      </div>
      
      <div class="follow-button3">
        <a href="http://pinterest.com/<%=Thread.current[:site_configuration]['social']['pin']%>" target='_blank'> 
        </a>
      </div>
    
    </div>
  
  </div>
  
  <!-- Social Share --> 
  
  <div class="social-share">
  
    <div class="social-title">
    
      <p style="text-transform:uppercase;">SHARE <%=Thread.current[:site_configuration]['app_name']%></p>
    
    </div>
    
    <div class="social-share-holder">
      
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="<%=Thread.current[:site_configuration]['app_name']%>" data-count="none">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

	<div id="pinterest">

    	<a style="margin-top: -15px !important;" href="http://pinterest.com/pin/create/button/?url=http%3A%2F%2F<%=Thread.current[:site_configuration]['app_name']%>.com&media=http%3A%2F%2F<%=Thread.current[:site_configuration]['app_name']%>.com%2Fassets%2Flogo-6bdef5a8d30bcde62f4af1b0baad945f.png&description=<%=Thread.current[:site_configuration]['app_name']%>" class="pin-it-button" count-layout="none"><img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" /></a>
    
    </div>


    <g:plusone size="medium" annotation="none"></g:plusone>

    <div class="fb-like" data-href="http://www.<%=Thread.current[:site_configuration]['app_name']%>.com/#" data-send="false" data-layout="button_count" data-width="50" data-show-faces="false" data-font="arial"></div>
    </div>
  
  
  </div>

</div>    