<!DOCTYPE html>
<html>
  <head>
    <title>Apistagram</title>
    <%= stylesheet_link_tag "style", :media => "all" %>
    <%=javascript_include_tag 'application'%>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%=render 'layouts/header'%>
    <%=render 'layouts/nav'%>
    <div id="container">
      <%=render 'layouts/social'%>
      <%=flash[:notice]%>
      <%= yield %>
    </div>
    <%=render 'layouts/footer'%>
  </body>
</html>
