<!DOCTYPE html>
<html>
<head>
  <title>Apistagram</title>
  <%= stylesheet_link_tag "style", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%=render 'layouts/header'%>
  <%=render 'layouts/nav'%>
  <div id="container">
    <%= yield %>
  </div>
  <%=render 'layouts/footer'%>
</body>
</html>
