<!DOCTYPE html>
<html>
  <head>
    <meta name="description" content="Tatstagram is an Instagram web viewer for photos of ONLY tattoos. Check out some of the most popular tattoo designs on Instagram, like them, save them and comment on them.">
    <title><%=@title || "Tatstagram - The only Instagram viewer dedicated to tattoos :: #tatstagram ::"%></title>
    <%= stylesheet_link_tag "style", :media => "all" %>
    <%=javascript_include_tag 'application'%>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%=render 'layouts/header'%>
    <%=render 'layouts/nav'%>
    <div id="container">
      <%=render 'layouts/social'%>
      <div id='notice'>
        <%if flash[:notice]%>
          <div class='notice'><%=flash[:notice]%></div>
        <%end%>
      </div>
      <%= yield %>
    </div>
    <%=render 'layouts/footer'%>
  </body>
</html>
