<!DOCTYPE html>
<html>
  <head>
    <meta name="description" content="<%=AppConfiguration['meta_tags']%>">
    <title><%=@title || AppConfiguration['title']['default']%></title>
    <%= stylesheet_link_tag "style", :media => "all" %>
    <%=javascript_include_tag 'application'%>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%=render 'layouts/header'%>
    <%=render 'layouts/nav'%>
    <div id="container">
      <%=render 'layouts/social'%>
      <div id='notice'>
        <%if flash[:notice]%>
          <div class='notice'><%=flash[:notice]%></div>
        <%end%>
      </div>
      <%= yield %>
    </div>
    <%=render 'layouts/footer'%>

    <script>


      // $.fn.fixBroken = function(){
      //   return this.each(function(){
      //     var tag = $(this);
      //     tag.error(function() { // this adds the onerror event to images
      //       tag.attr("src", '/assets/fallback/thumb_default.png'); // change the src attribute of the image
      //       // $(tag).parents('.photoHolder').hide();
      //       // $(tag).parents('.more-thumb').hide();
      //       return true;
      //     });
      //   });
      // };


      $.fn.broken = function(){
        return this.each(function(){
          if(!this.complete || (typeof this.naturalWidth != 'undefined' && this.naturalWidth == 0)) {
            $(this).attr("src", '/assets/fallback/content_removed.gif');
            $(this).parents('.thumb:first').find('.call-text').remove();
            $(this).parents('.more-thumb').hide(); 
          }
        });
      };

      $(window).load(function () {
        $('.iImg').broken();
      });
    </script>
  </body>
</html>
