<!DOCTYPE html>
<html>
  <head>
    <meta name="description" content="<%=AppConfiguration['meta_tags']%>">
    <title><%=@title || AppConfiguration['title']['default']%></title>
    <%= stylesheet_link_tag "style", :media => "all" %>
    <%=javascript_include_tag 'application'%>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%=render 'layouts/header'%>
    <%=render 'layouts/nav'%>
    <div id="container">
      <%=render 'layouts/social'%>
      <div id='notice'>
        <%if flash[:notice]%>
          <div class='notice'><%=flash[:notice]%></div>
        <%end%>
      </div>
      <%= yield %>
    </div>
    <%=render 'layouts/footer'%>

    <script>
      // wait for page to load
      $(document).ready(function() {
        // add fixBroken code to all images on the document
        $('img').fixBroken();
      });

      $.fn.fixBroken = function(){
        return this.each(function(){
          var tag = $(this);
          var alt_img = '/assets/fallback/thumb_default.png';
          tag.error(function() { // this adds the onerror event to images
            // tag.attr("src",alt_img); // change the src attribute of the image
            $(tag).parents('.photoHolder').hide();
            $(tag).parents('.more-thumb').hide();
            return true;
          });
        });
      };
    </script>
  </body>
</html>
