<!DOCTYPE html>
<html>
  <head>
    <title>Apistagram</title>
    <%= stylesheet_link_tag "style", :media => "all" %>
    <%=javascript_include_tag 'application'%>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%=render 'layouts/header'%>
    <%=render 'layouts/nav'%>
    <div id="container">
      <%=render 'layouts/social'%>
      <%= yield %>
    </div>
    <%=render 'layouts/footer'%>

    <!-- Share button scripts -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=141939898390";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <script type="text/javascript">
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>
    <script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
  </body>
</html>
